// Fonts
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap'); // Rock Salt
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap'); // Inter
$font-family-hashtag: 'Rock Salt', cursive;
$font-family-content: 'Inter', sans-serif;


// Colors
$color-red: #D5342A;
$color-black: #242424;
$color-light-black: #323232;
$color-light-red: #F6D0CD;
$color-gray: #363435;
$color-light-gray: #F6F6F6;
$color-white: #FFFFFF;

// Mixins

// General Elements

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
h1{
    font-size: 56px;
}
h2{
    font-size: 32px;
}
h3{
    font-size: 24px;
}
.content {
    width: 100%;
    height: 100%;
}

// Home Landing 

.home-landing{
    width: 100%;
    height: 100vh;
    background-color: $color-light-gray;
    & .header{
        & img{
            margin-top: 20px;
            margin-left: 100px;
        }
    }
    & .home-landing-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & .home-landing-text {
            width: 50%;
            flex-direction: column;
            padding-left: 100px;
            & .home-landing-text-hashtag{
                font-family: $font-family-hashtag;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                color: $color-red;
                margin-bottom: 20px;
            }
            & .home-landing-text-title {
                font-weight: 800;
                font-size: 56px;
                color: $color-black;
                font-family: $font-family-content;
                text-align: left;
                margin-bottom: 40px;

                & span {
                    color: $color-red;
                }
            }
            & .home-landing-text-link{
                color: $color-red;
                font-weight: 500;
                font-style: normal;
                font-size: 16px;
                font-family: $font-family-content;
                &:visited{
                    color: $color-red;
                }
            }
        }
        & .home-landing-carousel{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;

            & .home-landing-carousel-img{
                width: 100%;
                height: 572px;
                border-radius: 24px 0 0 24px;
            }

            // & .home-landing-carousel-img-button{
            //     width: 53%;
            //     height: 64px;
            // }
        }
    }
}

// About

.about {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: $font-family-content;
    
    & .about-text{
        padding: 100px;
        width: 30%;
        & h2 {
            font-weight: 600;
            font-style: normal;
            margin-bottom: 30px;
        }
        & p {
            font-weight: 400;
            font-style: normal;
            font-size: 20px;
            margin-bottom: 30px;
        }
    }
    & .about-cards {
        width: 70%;
        height: 450px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        padding-right: 100px;

        & img {
            width: 88px;
            height: 88px;
            margin-bottom: 20px;
        }

        & h3 {
            font-weight: 600;
            font-style: normal;            
            margin-bottom: 20px;
        }
        & p {
            color: $color-light-black;
            font-size: 20px;
            font-weight: 400;
            width: 300px;
            text-align: center;
        }

        & .about-card-age, .about-card-students, .about-card-employees {
            box-shadow: 0px 0px 32px rgba(187, 187, 187, 0.25);
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 200px;
            background-color: $color-white;
        }
    }
}


// Test Etec (Vestibulinho)

.test-etec {
    background-color: $color-light-gray;
}

// Footer
