// Fonts
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap'); // Rock Salt
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap'); // Inter
$font-family-hashtag: 'Rock Salt', cursive;
$font-family-content: 'Inter', sans-serif;


// Colors
$color-red: #D5342A;
$color-black: #242424;
$color-light-black: #323232;
$color-light-red: #F6D0CD;
$color-gray: #363435;
$color-light-gray: #F6F6F6;
$color-white: #FFFFFF;

// Mixins

// General Elements

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
h1{
    font-size: 56px;
}
h2{
    font-size: 32px;
}
h3{
    font-size: 24px;
}
.content {
    width: 100%;
    height: 100%;
}

// Home Landing 

.home-landing{
    width: 100%;
    height: 100vh;
    background-color: $color-light-gray;
    & .header{

        @media (min-width: 300px) and (max-width: 426px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        & img{
            margin-top: 20px;
            margin-left: 90px;
            width: 276px;
            height: 100px;
            @media (max-width: 767px) {
                margin-left: 40px;
                margin-bottom: 72px;
            }

            @media (min-width: 300px) and (max-width: 426px) {
                margin-left: 0;
            }
            @media (min-width: 768px) and (max-width: 1280px) {
                margin-left: 20px;
                margin-bottom: 72px;
            }
            
        }
    }
    & .home-landing-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (min-width: 300px) and (max-width: 426px) {
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        & .home-landing-text {
            width: 50%;
            flex-direction: column;
            padding-left: 100px;
            @media (max-width: 767px) {
                padding-left: 50px;
                width: 100%;
            }
            @media (min-width: 768px) and (max-width: 1280px) {
                padding-left: 30px;
            }
            @media (min-width: 300px) and (max-width: 426px) {
                padding: 0;
            }
            & .home-landing-text-hashtag{
                font-family: $font-family-hashtag;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                color: $color-red;
                margin-bottom: 20px;

                @media (max-width: 767px) {
                    margin-top: 20px;
                }
                @media (min-width: 300px) and (max-width: 426px) {
                    font-size: 18px;
                }
                @media (min-width: 768px) and (max-width: 1024px) {
                    font-size: 20px;
                }                
            }
            & .home-landing-text-title {
                font-weight: 800;
                font-size: 56px;
                color: $color-black;
                font-family: $font-family-content;
                text-align: left;
                margin-bottom: 40px;

                @media (max-width: 767px) {
                    font-size: 48px;
                }
                @media (min-width: 300px) and (max-width: 426px) {
                    font-size: 32px;
                    text-align: center;
                }
                @media (min-width: 768px) and (max-width: 1280px) {
                    font-size: 40px;
                }
                & span {
                    color: $color-red;
                }
            }
            & .home-landing-text-link{
                color: $color-red;
                font-weight: 500;
                font-style: normal;
                font-size: 16px;
                font-family: $font-family-content;
                &:visited{
                    color: $color-red;
                }
            }
        }
        & .home-landing-carousel{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            @media (max-width: 767px) {
                display: none;
            }

            & .home-landing-carousel-img{
                width: 100%;
                height: 100%;
                border-radius: 24px 0 0 24px;
            }

            // & .home-landing-carousel-img-button{
            //     width: 53%;
            //     height: 64px;
            // }
        }
    }
}

// About

.about {
    width: 100%;
    height: 450px;
    padding: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1280px) {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        padding: 45px;
        padding-left: 30px;
        
    }

    & .about-text {
        text-align: left;
        font-family: $font-family-content;

        & h2 {
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            margin-bottom: 20px;

            @media (min-width: 300px) and (max-width: 426px) {
                font-size: 24px;
            }
        }

        & p {
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            margin-bottom: 30px;

            @media (max-width: 767px) {
                font-size: 22px;
                margin-bottom: 40px;
            }

            @media (min-width: 300px) and (max-width: 426px) {
                font-size: 20px;
            }
        }
    }
    & .about-card{
        box-shadow: 0px 0px 32px rgba(187, 187, 187, 0.25);
        border-radius: 8px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 375px;
        background-color: $color-white;
        margin-left: 20px;

        @media (max-width: 1280px) {
            margin-left: 0;
            margin-bottom: 40px;
        }
        & img{
            width: 85px;
            height: 85px;
        }
     
        & h3 {
            font-family: $font-family-content;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            margin-top: 20px;

            @media (min-width: 300px) and (max-width: 426px) {
                font-size: 22px;
            }
        }

        & p {
            @media (max-width: 767px) {
                padding: 30px;
            }
        }

        }
        & p {
            font-family: $font-family-content;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            margin-top: 10px;
        }
    }

// Test Etec (Vestibulinho)

.test-etec {
    background-color: $color-light-gray;
    width: 100%;
    height: 595px;
    border-radius: 24px 0px 0px 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    @media (max-width: 767px) {
        display: grid;
        grid-template-columns: 1fr;
        text-align: left;
    }
    @media (min-width: 300px) and (max-width: 426px) {
        height: 650px;
    }
    @media (min-width: 768px) and (max-width: 1440px) {
        height: 100%;
    }
    & .test-etec-info{
        width: 100%;
        height: 100%;
        padding: 100px;
        background-image: url('../assets/img/arrow.svg');
        background-repeat: no-repeat;
        background-position: 70% 60%;
        background-size: 260px;

        @media (max-width: 767px) {
            background-image: none;
            padding: 45px;
        }
        @media (min-width: 768px) and (max-width: 1280px) {
            background-size: 220px;
            background-position: 70% 75%;
            padding: 30px;
        }
        @media (min-width: 1281px) and (max-width: 1369px) {
            background-size: 220px;
            background-position: 70% 70%;
        }
        @media (min-width: 1370px) and (max-width: 1398px) {
            background-size: 220px;
            background-position: 70% 65%;
        }
        @media (min-width: 1399px) and (max-width: 1440px) {
            background-size: 220px;
            background-position: 70% 60%;
        }
        & span{
            font-family: $font-family-hashtag;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            color: $color-red;
        }
        & h2{
            font-family: $font-family-content;
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            color: $color-black;
        }
        & .test-etec-info-text{
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top: 30px;
            margin-bottom: 50px;
            @media (max-width: 767px) {
                grid-template-columns: 1fr;
                margin-bottom: 30px;
            }
            @media (min-width: 768px) and (max-width: 1368px) {
                margin-bottom: 60px;
                grid-template-columns: 1fr;
            }
            
            & p{
                font-family: $font-family-content;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                margin-right: 20px;
                color: $color-light-black;
                @media (max-width: 1368px) {
                    margin-bottom: 20px;
                }
            }
        }

        & a{
            text-decoration: none;
            color: $color-white;
            width: 215px;
            height: 60px;           
        }

        & .test-etec-signup{
            background-color: $color-red;
            width: 215px;
            color: $color-white;
            height: 60px;
            border: 0;
            font-style: normal;
            font-family: $font-family-content;
            font-weight: 500;
            font-size: 16px;
            box-shadow: 0px 4px 24px rgba(96, 96, 96, 0.25);
            border-radius: 4px;
            &:hover{
                cursor: pointer;
            }
        }
    }
    & .test-etec-image {
        height: 100%;
        @media (max-width: 767px) {
            display: none;
        }
        & img {
            width: 765px;
            height: 595px;
            @media (min-width: 768px) and (max-width: 1280px) {
                width: 100%;
                height: 400px;
            }
        }
    }
    
}

// Footer

.footer{
    width: 100%;
    display: grid;
    background-color: $color-gray;
    grid-template-rows: 300px 100%;

    @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        text-align: left;
        height: 1250px;
    }
    
    & .footer-partners {
        margin-top: 70px;
        & h2 {
            margin-top: 0;
        }
        & .footer-partners-img {
            margin-left: 100px;
            @media (max-width: 767px) {
                margin-left: 50px;        
            }
            & img {
                width: 88px;
                height: 88px;
                margin-right: 40px;
            }
            @media (min-width: 768px) and (max-width: 1024px) {
                margin-left: 30px;
            }
        }
    }
    & h2{
        color: $color-red;
        font-family: $font-family-content;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        margin-left: 100px;
        margin-bottom: 40px;
        @media (max-width: 767px) {
            margin-left: 50px;
            margin-top: 50px;
        }
        @media (min-width: 300px) and (max-width: 426px) {
            font-size: 28px;
        }
        @media (min-width: 768px) and (max-width: 1024px){
            margin-left: 30px;
        }
    }
    & ul{
        margin-left: 100px;
        @media (max-width: 767px) {
            margin-left: 50px;
        }
        @media (min-width: 768px) and (max-width: 1024px) {
            margin-left: 30px;
        }
        & li{
            text-decoration: none;
            list-style-type: none;
            & a{
                font-family: $font-family-content;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                color: $color-white;
                text-decoration: none;
                border-bottom: 1px #fff solid;

                @media (min-width: 300px) and (max-width: 426px) {
                    font-size: 18px;
                }
            }
        }
    }
    & .footer-row {
        display: flex;
        flex-direction: row;
        height: 450px;

        @media (max-width: 767px) {
            flex-direction: column;
        }
        @media (min-width: 768px) and (max-width: 1024px) {
            justify-content: space-between;
        }
    }
    & .footer-sitemap, .footer-social-media, .footer-school-location {
        height: 350px;
        @media (max-width: 767px) {
            width: 100%;
            height: 100%;
        }
    }
    & .footer-school-location {
        & iframe {
            margin-left: 100px;
            width: 568px;
            height: 328px;
            @media (max-width: 767px) {
                margin-left: 0;
                padding: 10px;
                width: 100%;
                height: 328px;
            }
            @media (min-width: 768px) and (max-width: 1024px) {
                margin-left: 0;
                padding: 30px;
                width: 100%;
                height: 328px;
            }
            
            
        }
    }
    & .footer-social-media {
        & ul li {
            margin-bottom: 30px;
        }
    }
}